.ContactData {
	width: 80%;
	text-align: center;
	margin: 0 auto;
	box-shadow: 0 2px 3px #ccc;
	border: 1px solid #eee;
	padding: 10px;
}

@media (min-width: 600px) {
	.ContactData {
		width: 500px;
	}
}
